#container{
    margin: 0 auto;
    width:700px;
    height:auto;
}
.menu{
    width:700px;
    float:left;
    margin:10px auto;
}
.menu ul li{
    float:left;
    list-style-type: none;
    margin-left:5px;
    
} 
#center{
    float:left;
    margin:auto;
    margin-top:25px;
    width:700px;
    height:auto;
    margin-left:50px;
}