
{% extends "MyWorkBundle::layout.html.twig" %}

{% block content %}
<p>
    System dodawania prac naukowych.

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Zapisz dokument" />
</form>
</p>
{% endblock %}

