{% extends "MyWorkBundle::layout.html.twig" %}

{% block content %}
<p>
    Tu jest Autor ;)
<h1>Upload File</h1>

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Upload Document" />
</form>
</p>
{% endblock %}