{% extends "MyWorkBundle::layout.html.twig" %}

{% block body %}
    
    {% block container %}
       <b> Panel Edytora <br />
        1. wybierz pracę.<br />
        2. Wyświetl jej zawartość <br />
        3. Wypełnij notę edytorską dla pracy<br /></b>
        <ul>
            {%  for entitie in entities %}
                <li>
                    {{ entitie.idwork }}
                    {{ entitie.title }}
                    <a href="{{  asset('uploads/documents/') }}{{  entitie.path }}">Link do pracy</a>
                    <a href="">Dodaj Notę Edytorską</a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}

{% endblock %}
