{% extends "MyWorkBundle::layout.html.twig" %}

{% block content %}
<p>

    Tu jest Edytor ;)<br />
    Lista prac dostępnych w systemie.
    {% for entity in entities %}
        <tr>

            <th>{{ entity.work }}</th>
            <th></th>
        </tr>

</p>
{% endblock %}