{% extends "MyWorkBundle::layout.html.twig" %}

{% block body %}

    {% block container %}
        <ul>
            {%  for entitie in entities %}
                <li>
                    {{ entitie.title }}
                </li>
            {% endfor %}
        </ul>
    {% endblock %}

{% endblock %}
