{% extends "MyWorkBundle::layout.html.twig" %}

{% block body %}
    {% block container %}
        Wszystkie dostępne prace w systemie Czasopism naukowych:
        <ul>
            {%  for entitie in entities %}
                <li>
                    {{ entitie.idwork }}
                    {{ entitie.title }}
                    <a href="{{  asset('uploads/documents/') }}{{  entitie.path }}">Link do pracy</a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}

{% endblock %}
