{% extends "MyWorkBundle::layout.html.twig" %}

{% block body %}

    {% block container %}
        Oceniasz: {{ work.getTitle() }}



        <form action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" value="Zapisz" />
        </form>



    {% endblock %}
{% endblock %}